

body{

    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    overflow:auto;
}

h1{
    margin: 0 auto 0 auto;
    font-size: 4em;
    font-family: 'Calistoga', cursive;
    color: #9fbe82;



}
h2{
    font-weight: normal;
}
h3{
    font-weight:400;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    background-color: #DFF6FF;
    border-radius: 20px;
    text-align: center;
    width: 240px;
}


.me{
    margin: 29px 50px;
    width:20% ;
    float:left;
    text-align: center;

}

hr{
    border:none;
    border-top: 6px dotted white;
    height: 3px;
    width: 7%;
    margin: 50px auto 50px auto;


}
.resume{
    width: 70%;
    height: 250px;
    padding-top:2vh;
    margin: auto;
    text-align: start;

}
.topcontainer{
    background-color: #f0ecc8;
    position: fixed;
    text-align: center;
    top: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 75px;
    width:100vw;

}

.middlecontainer{

    margin:0;
    background-color: #C4DFAA;
    height: 1200px;

}

.contactcontainer{

    background-color: #90C8AC;
    height: 650px;
    text-align: center;

}

.bottomcontainer{

    padding:75px 0px 0px 0px;
    background-color: #73A9AD;
    height: 15vh;
    text-align: center;
    

}
.cc{
    margin:50px;
    color:#ffffff;
}

a{
    display: inline;
    color: #284749;
    text-decoration: none;
    
    
}
a:hover{
    color: #ffffff;
}
.btn {
    background: #92cdd1;
    background-image: -webkit-linear-gradient(top, #92cdd1, #578b8f);
    background-image: -moz-linear-gradient(top, #92cdd1, #578b8f);
    background-image: -ms-linear-gradient(top, #92cdd1, #578b8f);
    background-image: -o-linear-gradient(top, #92cdd1, #578b8f);
    background-image: linear-gradient(to bottom, #92cdd1, #578b8f);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }