

body{

    font-family: 'Montserrat', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    overflow:auto;
}

h1{
    margin: 0 auto 0 auto;
    font-size: 4em;
    font-family: 'Calistoga', cursive;
    color: #9fbe82;



}
h2{
    font-weight: normal;
}
h3{
    font-weight:400;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    background-color: #DFF6FF;
    border-radius: 20px;
    width: 15vw;
}
a{
    display: inline-block;
    width: 10vw;
    
}

.me{
    margin: 0vw 5vw;
    width:10vw ;
    float:left;
}

.resume{
    width: 50%;
    padding-top:5vh;
    margin: auto;

}
.topcontainer{
    background-color: #f0ecc8;
    position: fixed;
    text-align: center;
    top: 0;
    padding-top: 5vh;
    padding-bottom: 3vh;
    height: 9vh;
    width:100vw;

}

.middlecontainer{

    margin:0;
    background-color: #C4DFAA;
    height: 100vh;

}

.bottomcontainer{
    background-color: #90C8AC;
    height: 40vh;


}

.contactcontainer{
    padding:10px 50px 10px 10px;
    background-color: #73A9AD;
    height: 1.5vh;
    

}